.btn {
    border: none !important;
    outline: 0 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    &-primary {
        background-color: transparent !important;
        border-color: $color-white;
        border-width: 3px;
        padding: 12px 36px;
        color: #ffffff !important;
        font-size: 16px;
        font-weight: 600;
        border-radius:0;
        border:3px solid !important;
        &:hover {
         
        border-color: $color-white !important;
            
            color: $color-black !important;
            background: $color-white !important;
        }
    }

    &-secondary{
        background-color: transparent !important;
        border-color: $color-black;
        border-width: 3px;
        padding: 12px 36px;
        color: black !important;
        font-size: 16px;
        font-weight: 600;
        border-radius:0;
        border:3px solid !important;
        &:hover {
         
        border-color: $color-black !important;
            
            color: $color-white !important;
            background: $color-black !important;
        }
    }

   
}